body{
    font-family: 'Potta One', cursive;
    margin: 0px ;
}
.first-title{
    font-size: 50px;
}
#name{
    color: orange;
}
.first-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img{
    width: 100%;
}
.top{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    font-size: 20px;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(60deg, blue,lightblue);
}